In [1]:
from langchain_experimental.agents.agent_toolkits.pandas.base import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
import pandas as pd
import matplotlib.pyplot as plt
from src import config

2025-01-04 02:21:24.445 | INFO     | src.config:<module>:11 - PROJ_ROOT path is: /home/ngin/Documents/AI/projects/DataAnalysWeb/data_analys_with_llm

In [2]:
from src.models.llms import load_llm

llm = load_llm()

In [3]:
df = pd.read_csv("../data/raw/income.csv")
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [4]:
response = llm("Hi")

/tmp/ipykernel_186326/2396595465.py:1: LangChainDeprecationWarning: The method `BaseChatModel.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  response = llm("Hi")

In [6]:
response.content

'Hello! How can I assist you today?'

In [7]:
data_agent = create_pandas_dataframe_agent(
    llm=llm,
    df = df,
    agent_type="tool-calling",
    allow_dangerous_code=True,
    verbose=True,
    return_intermediate_steps=True
)

In [9]:
query = "Thanks"
response = data_agent(query)

> Entering new AgentExecutor chain...
You're welcome! If you have any more questions or need further assistance, feel free to ask.

> Finished chain.

In [12]:
response['intermediate_steps'][-1][0].tool_input['query']

False

In [14]:
if []:
    print("True")